<footer class="page-footer blue-grey lighten-5 valign-wrapper">
  <div class="container">
    <p>
      &copy; <a href="https://digitalronin.github.io/about.html">David Salgado</a> 2017.
      &nbsp;
      Cards logo &copy; <a href="https://thenounproject.com/bnvk/">Brennan Novak.</a>
      &nbsp;
      Uses <a href="http://materializecss.com/">MaterializeCSS</a>
    </p>
  </div>
</footer>
