      <footer class="page-footer blue-grey lighten-5 valign-wrapper">
        <div class="container">
          <div class="row">&copy; <a href="https://digitalronin.github.io/about.html">David Salgado</a> 2017</div>
        <div class="row">Cards logo &copy; <a href="https://thenounproject.com/bnvk/">Brennan Novak</a></div>
        </div>
      </footer>
