<%= case @points do %>
  <% 0 -> %>
    <li>
      <%= @coder %>:
      <%= for val <- @ticket.point_options do %>
        <%= link val, to: ticket_estimate_path(@conn, :update, @ticket.id, @coder, val) %>
      <% end %>
    </li>
  <% _ -> %>
    <li>
      <%= @coder %>:
      <%= @points %>
      <%= link "Change", to: ticket_estimate_path(@conn, :update, @ticket.id, @coder, 0) %>
    </li>
<% end %>
