<%= if estimation_complete?(@ticket) do %>
  <h2>Estimation complete</h2>
<% else %>
  <h2>Estimation is not complete</h2>
<% end %>

<div class="estimates">
  <%= for {coder, points} <- @ticket.estimates do %>
    <%= render "estimate.html", conn: @conn,
                                ticket: @ticket,
                                coder: coder,
                                points: points %>
    <% end %>
</div>
