<div class="estimate-card estimate-pending">
  <span class="coder"><%= @coder %></span>
</div>

<%= for val <- @ticket.point_options do %>
  <div class="estimate-card estimate-choice">
    <%= link to: ticket_estimate_path(@conn, :update, @ticket.id, @coder, val) do %>
      <%= val %>
    <% end %>
  </div>
<% end %>
