<h2>Ticket</h2>

<div class="form-group">
  URL: <%= @ticket.url %>
</div>

<div class="form-group">
  <ul>
    <%= for {coder, points} <- @ticket.estimates do %>
      <%= render "estimate.html", conn: @conn, ticket: @ticket, coder: coder, points: points %>
    <% end %>
  </ul>
</div>

<%= link "Back", to: team_path(@conn, :show, @ticket.team_id) %>
