/* This file is for your main application css. */

$card_width: 120px;
$card_border_color: #777;

.pull-right {
  float: right;
}

// form validation errors are displayed
// in a help-block span
.help-block {
  color: red;
}

.clickable {
  cursor: pointer;
}

img.logo {
  width: 55px;
  float: left;
  margin-right: 15px;
}

div.estimates {
  margin-bottom:  $card_width / 5;
  width:          100%;

  div.estimate {
    display:        flex;
    font-size:      150%;
    clear:          left;
    margin-bottom:  $card_width / 5;

    .coder {
      font-weight:   bold;
      padding-left:  5px;
      min-width:     $card_width;
    }

    .estimate-card {
      box-shadow:  3px 3px 8px #888888;
      padding:     5px;
      width:       $card_width;
      height:      $card_width * 1.1;
      margin:      5px;
      float:       left;
    }

    .estimate-completed,
    .estimate-choice,
    .estimate-hidden {
      cursor: pointer;
    }

    .estimate-choice {
      p {
        width: 100%;
        text-align:  center;
        font-weight: bold;
        font-size:   240%;
      }
    }

    .estimate-value {
        width:        100%;
        text-align:   center;
        font-weight:  bold;
        font-size:    240%;
        margin-top:   0;
    }
  }
}

