/* This file is for your main application css. */

$card_width: 120px;
$card_border_color: #777;

.icon {
  height: 25px;
}

.pull-right {
  float: right;
}

// form validation errors are displayed
// in a help-block span
.help-block {
  color: red;
}

.clickable {
  cursor: pointer;
}

div.estimates {
  margin-bottom:  $card_width / 5;
  width:          100%;

  div.estimate {
    display:        flex;
    font-size:      150%;
    clear:          left;
    margin-bottom:  $card_width / 5;

    .coder {
      font-weight: bold;
    }

    .estimate-card {
      background-image:  linear-gradient(135deg, #fff, #eee);
      border:            2px inset $card_border_color;
      border-radius:     $card_width / 8;
      box-shadow:        3px 3px 8px #888888;
      text-align:        center;
      padding:           5px;
      width:             $card_width;
      height:            $card_width * 1.1;
      margin:            5px;
      float:             left;
    }

    .estimate-completed,
    .estimate-choice,
    .estimate-hidden {
      cursor: pointer;
    }
  }
}

